header {
  text-align: center;
}

.App-header {
  background-color: #2f4454;
  height: 10em;
  padding: 1em;
  color: white;
  margin-bottom: 4.5em;
}

li {
  display: inline;
  margin-left: .4em;
  margin-right: .4em
}

ul {
  padding: 0;
}

.hamburger {
  display: none;
}

.navLink {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
  padding: .25em .7em;
  box-shadow: 0 0 8px 2px #888;
}

.modal-button {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}

.navLink:hover {
  background-color: #DA7B93;
  box-shadow: 0 0 8px 2px #DA7B93;
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}

/* Table formatting */
.table-row {
   background-color: #ffffff;
   box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
 }

 .table_head {
    background-color: #376E6F;
    box-shadow: 0px 0px 9px 0px #000;
    color: #FFF;
    text-align: center;
    font-weight: 200;
    border: #376E6F
  }

 table {
   width: 90%;
   margin: auto;
 }

 th {
   text-align: center;
   padding: .6em;
   font-weight: 200
 }

 td {
   text-align: center;
   padding: .6em 1em;
 }

 /* Modal CSS */
 .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
    }
    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    .close-button:hover {
        background-color: darkgray;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

  .bigger_div {
    width: 80%;
    max-width: 800px;
    margin: auto;
  }

  .big_div {
    max-width: 80%;
    margin: auto;

  }

  .news_image {
    float: right;
    width: 120px;
  }

  .news_anchor_tags {
    font-size: 1em;
    text-decoration: none;
    box-shadow: 0 0 8px 2px #000;
    clear: both;
  }

  .news_anchor_tags {
    text-decoration: none;
    color: #000;
  }

  .center-align {
    width: 600px;
    margin: auto;
    box-shadow: 0 0 8px 2px #d3d3d3;
    padding-bottom: 2em;
    padding-top: 1em;
  }

  .h2 {
    text-align: center;
  }

  .form {
    text-align: center;
  }

  .flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .article_footer {
    color: gray;
    font-size: .5em;
    text-align: left;
  }
