header {
  text-align: center;
}

.App-header {
  background-color: #2f4454;
  height: 10em;
  padding: 1em;
  color: white;
  margin-bottom: 4.5em;
}

li {
  display: inline;
  margin-left: .4em;
  margin-right: .4em
}

ul {
  padding: 0;
}

.hamburger {
  display: none;
}

.navLink {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
  padding: .25em .7em;
  box-shadow: 0 0 8px 2px #888;
}

.modal-button {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}

.navLink:hover {
  background-color: #DA7B93;
  box-shadow: 0 0 8px 2px #DA7B93;
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}

/* Table formatting */
.table-row {
   background-color: #ffffff;
   box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
 }

 .table-head {
    background-color: #F34;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }

 table {
   width: 90%;
   margin: auto;
 }

 .tableHeader {
   text-align: center;
   padding: .3em .4em;
 }

 td {
   text-align: center;
   padding: .3em .4em;
 }
