html {
  /* background: radial-gradient(white, #282828, black); */
  /* background: #282828; */
  font-family: 'Source Code Pro';
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  text-align: center;
}

.navigationDiv {
  width: 100%;
}

.crypto_bulls {
  letter-spacing: 5px;
}

.logo {
  height: 60px;
}

.App-header {
  background-color: #190061;
  height: 10em;
  padding: 1em;
  color: white;
  margin-bottom: 4.5em;
  display: flex;
  flex-direction: row;
}

.gray {
  color: gray;
}

li {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.3em;
}

.hide {
  display: none;
}

ul {
  padding: 0;
}

.hamburger {
  display: none;
}

.navLink {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
  padding: .4em .2em;

  /* box-shadow: 0 0 8px 2px #888; */
}

.navLink:hover {
  background-color: #3500D3;
  /* box-shadow: 0 0 8px 2px #3500D3; */
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}

/* Table formatting */
.table-row {
   background-color: #ffffff;
   box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
 }

 .table_head {
    background-color: #3500D3;
    box-shadow: 0px 0px 9px 0px #000;
    color: #FFF;
    text-align: center;
    font-weight: 200;
    border: #376E6F;
  }

 table {
   width: 85%;
   margin: auto;
   position: relative;
   overflow: scroll;
   display: block;
   border-radius: 10px;
   border: 1px solid #282828;
 }

.profilepic {
  height: 150px;
  margin: auto;
  border-radius: 10px;
}

.toggle {
  margin-right: 8%;
  float: right;
}

 th {
   text-align: center;
   padding: .6em;
   font-weight: 200;
   overflow: scroll;
 }

 td {
   text-align: center;
   padding: .6em 1em;
   box-sizing: border-box;
 }


  .bigger_div {
    width: 80%;
    max-width: 800px;
    margin: auto;
  }

  .big_div {
    max-width: 80%;
    margin: auto;

  }

  .news_image {
    float: right;
    width: 120px;
  }

  .news_anchor_tags {
    font-size: 1em;
    text-decoration: none;
    box-shadow: 0 0 8px 2px #000;
    clear: both;
  }

  .news_anchor_tags {
    text-decoration: none;
    color: #000;
  }

  .center-align {
    width: 600px;
    margin: auto;
    box-shadow: 0 0 8px 2px #d3d3d3;
    padding-bottom: 2em;
    padding-top: 1em;
  }

  .h2 {
    text-align: center;
  }

  .form {
    text-align: center;
  }

  .flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .article_footer {
    color: gray;
    font-size: .5em;
    text-align: left;
  }

  footer {
    height: 150px;
    background: #282828;
    margin-top: 1em;
  }

  .contactme {
    margin-bottom: .3em;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }
  .copyright {
    color: white;
    margin-top: 1em;
  }

  .donations {
    color: white;
    font-size: .7em;
    margin-top: -3em;
    padding-left: .7em;
  }

  .fab {
    padding: 0 .5em;
    margin-top: .3em;
  }

  .social {
    text-align: center;
    color: white;
    width: 400px;
    float: right;
  }

  .opacity {
    opacity: 0;
  }
