<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/style/style.css">

  </head>
  <body>
    <header class="App-header">


      <div>
        <h1 class="App-title">App Title Here</h1>
        
      </div>
      <ul>
        <li><a class="navLink" href='/'>Home</a></li>
        <li><a class="navLink" href='/portfolio/>'>Portfolio</a></li>
        <li><a class="navLink" href='/favorites'>Favorites</a></li>
        <li><a class="navLink" href='/forums'>Forums</a></li>
        <li><a class="navLink" href='/news'>News</a></li>
        <li><a class="navLink" href='/signup'>Sign Up</a></li>
        <li><a class="navLink" href='/login'>Log In</a></li>
      </ul>
    </header>
    <div class="container">
   <div class="row">
     <div class="center-align">
       <h2>Log In</h2>
       <br>
       <form method="POST" action="/login">
         <div class="col s10 offset-s1">
           <input type="email" name="username" class="validate invalid" placeholder="Email" autofocus>
         </div>
         <div class="col s10 offset-s1">
           <input type="password" name="password" class="validate" placeholder="Password">
         </div>
         <div class="center-align">
           <input type="submit" class="waves-effect waves-light btn" value="Log In">
         </div>
         <br>
       </form>
     </div>
   </div>
 </div>
  </body>
</html>
