<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
   <div class="row">
     <div class="center-align">
       <h2>Log In</h2>
       <br>
       <form method="POST" action="/login">
         <div class="col s10 offset-s1">
           <input type="email" name="username" class="validate invalid" placeholder="Email" autofocus>
         </div>
         <div class="col s10 offset-s1">
           <input type="password" name="password" class="validate" placeholder="Password">
         </div>
         <div class="center-align">
           <input type="submit" class="waves-effect waves-light btn" value="Log In">
         </div>
         <br>
       </form>
     </div>
   </div>
 </div>
  </body>
</html>
