<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">

  </head>
  <body>
    <header class="App-header">
      <div>
        <h1 class="App-title">App Title Here</h1>
      </div>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/portfolio'>Portfolio</a></li>
        <li><a href='/favorites'>Favorites</a></li>
        <li><a href='/forums'>Forums</a></li>
        <li><a href='/news'>News</a></li>
        <% if (user.users == undefined) { %>
        <li><a href='/signup'>Sign Up</a></li>
        <li><a href='/login'>Log In</a></li>
        <%  } else { %>
        <li><a href='/user/<%= user.users.id.toString() %>'>Profile</a></li>
        <li><a href='/logout'>Logout</a></li>
        <%  } %>
      </ul>
    </header>
    News here
  </body>
</html>
