<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/news_api.js" charset="utf-8"></script>
  </head>
  <body>
    <header class="App-header">
      <div>
        <h1 class="App-title">BitCheck</h1>
      </div>
      <ul>
        <li><a class="navLink" href='/'>Home</a></li>
        <li><a class="navLink" href='/portfolio'>Portfolio</a></li>
        <li><a class="navLink" href='/favorites'>Favorites</a></li>
        <li><a class="navLink" href='/forums'>Forums</a></li>
        <li><a class="navLink" href='/news'>News</a></li>
        <% if (user.users == undefined) { %>
        <li><a class="navLink" href='/signup'>Sign Up</a></li>
        <li><a class="navLink" href='/login'>Log In</a></li>
        <%  } else { %>
        <li><a class="navLink" href='/user/<%= user.users.id.toString() %>'>Profile</a></li>
        <li><a class="navLink" href='/logout'>Logout</a></li>
        <%  } %>      </ul>
    </header>
    <div class="bigger_div">
      <div class="big_div">

      </div>
    </div>
  </body>
</html>
