<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">

  </head>
  <body>
    <header class="App-header">
      <div>
        <h1 class="App-title">App Title Here</h1>
      </div>
      <ul>
        <li><a class="navLink" href='/'>Home</a></li>
        <li><a class="navLink" href='/portfolio'>Portfolio</a></li>
        <li><a class="navLink" href='/favorites'>Favorites</a></li>
        <li><a class="navLink" href='/forums'>Forums</a></li>
        <li><a class="navLink" href='/news'>News</a></li>
        <% if (user == undefined) { %>
        <li><a class="navLink" href='/signup'>Sign Up</a></li>
        <li><a class="navLink" href='/login'>Log In</a></li>
        <%  } else { %>
        <li><a class="navLink" href='/user/<%= user._id.toString()%>'>Profile</a></li>
        <li><a class="navLink" href='/logout'>Logout</a></li>
        <%  } %>      </ul>
    </header>
    <% if (user) { %>
      <% for (i = 0; i < coinIds.length; i++) { %>
        <p><%= coinIds[i] %></p>
  <%    } %>
      <p>Loop through the localhost/all users coins and display the table exactly as it is on the home page</p>
    <% } else { %>
      <p>You must sign in to access this feature</p>
      <% } %>
  </body>
</html>
