<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style/style.css">

  <title></title>
</head>
<body>
    <header class="App-header">
      <div>
        <h1 class="App-title">BitCheck</h1>

      </div>
      <ul>
        <li><a class="navLink" href='/'>Home</a></li>
        <li><a class="navLink" href='/portfolio/<%= user._id.toString() %>'>Portfolio</a></li>
        <li><a class="navLink" href='/favorites'>Favorites</a></li>
        <li><a class="navLink" href='/forums'>Forums</a></li>
        <li><a class="navLink" href='/news'>News</a></li>
      </ul>
    </header>

      <div class="center-align">
        <br>
          <div class="form">Email: <%= user.username %></div>
          <br>
          <div class="flexbox">
            <form action="/user/<%= user._id %>/update" method="GET">
              <input type="submit" value="Edit">
            </form>
            <form action="/user/<%= user._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete Profile">
            </form>
          </div>
            <br>
       </div>



</body>
</html>
