<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <header class="App-header">


      <div>
        <h1 class="App-title">App Title Here</h1>

      </div>

      <ul>

        <li><a class="navLink" href='/'>Home</a></li>

        <li><a class="navLink" href='/portfolio/>'>Portfolio</a></li>

        <li><a class="navLink" href='/favorites'>Favorites</a></li>
        <li><a class="navLink" href='/forums'>Forums</a></li>
        <li><a class="navLink" href='/news'>News</a></li>
        <li><a class="navLink" href='/signup'>Sign Up</a></li>
        <li><a class="navLink" href='/login'>Log In</a></li>
      </ul>

    </header>

    <div class="container center-align">
  <div class="row">
      <h2>Sign Up</h2>

      <form method="POST" action="/signup">
        <div class="col s10 offset-s1">
          <input type="email" name="username" class="validate invalid" placeholder="Email">
        </div>
        <div class="col s10 offset-s1">
          <input type="password" name="password" class="validate" placeholder="Password">
        </div>
        <div class="center-align">
          <input type="submit" class="waves-effect waves-light btn" value="Sign Up">
        </div>
        <br>
      </form>
  </div>
</div>
  </body>
</html>
