<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/app.js" charset="utf-8"></script>
  </head>

  <body>
    <header class="App-header">
      <div>
        <h1 class="crypto_bulls">Crypto Bull</h1>
        <img src="bitcoin.png" alt="" class="logo">
      </div>
      <div class="navigationDiv">
        <ul>
          <li><a class="navLink" href='/'>&nbsp;Home </a></li><span class="pipe">|</span>
          <li><a class="navLink" href='/portfolio'>&nbsp;Portfolio </a></li><span class="pipe">|</span>
          <li><a class="navLink" href='/favorites'>&nbsp;Favorites </a></li><span class="pipe">|</span>
          <li><a class="navLink" href='/news'>&nbsp;News </a></li><span class="pipe">|</span>
          <li><a class="navLink cTab" href='/signup'>&nbsp;Sign Up </a></li><span class="pipe">|</span>
          <li><a class="navLink" href='/login'>&nbsp;Log In</a></li>
        </ul>
      </div>
    </header>
    <div class="center-align">
      <h2 class="h2">Sign Up</h2>
      <br>
      <form method="POST" action="/signup" class="form">
        <input type="email" name="username" class="validate invalid input-box" placeholder="Email" autofocus>
        <input type="password" name="password" class="validate input-box" placeholder="Password">
        <input type="submit" class="waves-effect waves-light btn" value="Sign Up">
        <br>
      </form>
      <br>
      <br>
      <p class="paragraph">Already have an account? Log in <a href="/login">here</a></p>
    </div>
    <div class="footerAlignment">
    </div>
    <footer>
      <br>
      <div class="social"> <span class="contactme">Contact Me</span>
        <br>
        <a href="https://www.linkedin.com/in/huntercote/" target="_blank"><i class="fab fa-linkedin" style="font-size:36px; color: white"></i></a>
        <a href="https://github.com/hcote" target="_blank"><i class="fab fa-github" style="font-size:36px; color: white"></i></a>
        <a href="mailto:hcote12@gmail.com" target="_blank"><i class="fa fab fa-envelope" style="font-size:36px; color: white"></i></a>
        <br>
        <br>
        <span class="copyright">&#169; Hunter Cote 2018</span>
      </div>
      <br>
    </footer>
  </body>
</html>
