<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/app.js" charset="utf-8"></script>
  </head>

  <body>
    <header class="App-header">

      <div>
        <h1 class="crypto_bulls">Crypto Bulls</h1>
        <img src="bitcoin.png" alt="" class="logo">
      </div>
      <div class="navigationDiv">
      <ul>
        <li><a class="navLink" href='/'>&nbsp;Home </a></li><span class="pipe">|</span>
        <li><a class="navLink" href='/'>&nbsp;Portfolio </a></li><span class="pipe">|</span>
        <li><a class="navLink" href='/'>&nbsp;Favorites </a></li><span class="pipe">|</span>
        <!-- <li><a class="navLink" href='/forums'>Forums</a></li><span> | </span> -->
        <li><a class="navLink" href='/news'>&nbsp;News </a></li><span class="pipe">|</span>
        <li><a class="navLink" href='/signup'>&nbsp;Sign Up </a></li><span class="pipe">|</span>
        <li><a class="navLink" href='/login'>&nbsp;Log In</a></li>
      </ul>
    </div>
    </header>


  <div class="center-align">
      <h2 class="h2">Sign Up</h2>
      <br>
      <form method="POST" action="/signup" class="form">
          <input type="email" name="username" class="validate invalid" placeholder="Email" autofocus>
          <input type="password" name="password" class="validate" placeholder="Password">
          <input type="submit" class="waves-effect waves-light btn" value="Sign Up">
        <br>
      </form>
  </div>

  </body>
</html>
