<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container center-align">
  <div class="row">
      <h2>Sign Up</h2>

      <form method="POST" action="/signup">
        <div class="col s10 offset-s1">
          <input type="email" name="username" class="validate invalid" placeholder="Email">
        </div>
        <div class="col s10 offset-s1">
          <input type="password" name="password" class="validate" placeholder="Password">
        </div>
        <div class="center-align">
          <input type="submit" class="waves-effect waves-light btn" value="Sign Up">
        </div>
        <br>
      </form>
  </div>
</div>
  </body>
</html>
