<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

   <script type="text/javascript" src='/scripts/app.js'></script>
   <link rel="stylesheet" href="/style/style.css">

  <title>Edit Profile</title>
</head>
<body>
  <header class="App-header">
    <div>
      <h1 class="App-title">BitCheck</h1>
    </div>
    <ul>
      <li><a class="navLink" href='/'>Home</a></li>
      <li><a class="navLink" href='/portfolio'>Portfolio</a></li>
      <li><a class="navLink" href='/favorites'>Favorites</a></li>
      <li><a class="navLink" href='/forums'>Forums</a></li>
      <li><a class="navLink" href='/news'>News</a></li>
      <% if (user.users == undefined) { %>
      <li><a class="navLink" href='/signup'>Sign Up</a></li>
      <li><a class="navLink" href='/login'>Log In</a></li>
      <%  } else { %>
      <li><a class="navLink" href='/user/<%= user.users.id.toString() %>'>Profile</a></li>
      <li><a class="navLink" href='/logout'>Logout</a></li>
      <%  } %>      </ul>
  </header>

        <h2>Update your Profile</h2>
        <br>
        <form action="/user/<%= user._id %>?_method=PUT" method="POST">
          <div class="col s12">
            <input type="email" name="username" value="<%= user.username %>">
          </div>

          <div>
            <input type="submit"value="Update">
          </div>
          <br>
        </form>

</body>
</html>
